{
    "extends": "eslint:recommended",
    "env": {
        "node": true
    },
    "rules": {
        // Stylistic
        "semi": 2,
        "quotes": [2, "single"],
        "no-underscore-dangle": 0,
        "key-spacing": 0,

        // Variables
        "no-undef": 2,
        "no-use-before-define": [2, "nofunc"],

        // Possible errors
        "no-console": 0,

        // Best practices
        "no-multi-spaces": 0,
        "no-alert": 0
    },
    "ecmaFeatures": {
        "arrowFunctions": true,
        "blockBindings": true,
        "defaultParams": true,
        "destructuring": true,
        "forOf": true,
        "modules": true,
        "objectLiteralComputedProperties": true,
        "objectLiteralShorthandMethods": true,
        "objectLiteralShorthandProperties": true,
        "restParams": true,
        "spread": true,
        "templateStrings": true
    }
}
